{% extends 'website/base.html' %}

{% block content %}
<div class="page-titlebox">
  <div class="page-title"><h3>Liberal Arts Seminar</h3></div>
  <div class="page-subtitle"><h6>서울대학교 자유전공학부 Project & Presentation 동아리</h6></div>
</div>

<div class="page-text">
  <p>서울대학교 자유전공학부 프로젝트 & 발표 동아리 Liberal Arts Seminar(LAS)의 홈페이지에 방문하신 것을 환영합니다. :)<br><br>
  LAS는 학기 중 매주 화요일 오후 7시에 진행되는 정기세미나를 통해 구성원들의 개인발표와 프로젝트 발표, 프로젝트 제안과 공유 및 진행을 하며, 구성원 모두의 자유로운 발언과 도전을 응원합니다.<br><br>
  LAS는 우리가 보다 더 자유롭게, 보다 더 다양한 사람들과 시각과 함께, 자신이 가진 관심사를 공유하고 또 다른 사람들과 협력하며 새로운 가치와 문화를 창조하는 장을 만들기 위해 노력하고 있습니다.</p>
</div>


{% endblock %}
