*{
  margin:0;
  padding : 0;
}

@font-face {
  font-family: 'Nanum Square';
  src: url('./fonts/NanumSquareOTFRegular.ttf');
  font-weight: Regular;
}

@font-face {
  font-family: 'Nanum Square';
  src: url('./fonts/NanumSquareOTFBold.ttf');
  font-weight: Bold;
}

@font-face {
  font-family: 'Nanum Square';
  src: url('./fonts/NanumSquareOTFExtraBold.ttf');
  font-weight: Extrabold;
}

/*top menu bar Layouts*/
.top-header{
  background-color: #1c1b17;
  margin: 0;
  padding: 0;
  width:100%;
}

.site-title{
  display: inline-block;
  padding: 20px 0px 10px 10px;
  margin-left:5%;
  font-family: 'Nanum Gothic', Bold;
}

.menu-element{
  margin: 5px 0px 5px 10px;
  display: inline-block;
  font-size: 17px;
  font-family: 'Nanum Gothic'
}

.top-menu{
  float:right;
  display: inline-block;
  padding: 23px 10px 15px 0px;
  text-decoration-color: #FFFFFF;
  margin-right: 5%;
}

/*top menu bar text designs*/

a {
  text-decoration: none;
}

h1{
  font-size: 25px;
}

.menu-element a, .menu-element a:visited, h1 a, h1 a:visited{
  color: #FFFFFF;
}

.menu-element a:hover, h1 a:hover{
  color:#B6B5B9;
}

/*content box designs*/
.page-titlebox{
  width: 100%;
  margin: 30px auto 10px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: orange;
}

.page-title{
  text-align: center;
  font-size: 37px;
  color: #FFFFFF;
  font-family: 'Hind';
}

.page-subtitle{
  text-align: center;
  font-size: 20px;
  font-family: 'Nanum Square';
}

.page-text{
  margin: 20px 20%;
  text-align: center;
  font-size: 18px;
  font-family: 'Nanum Square';
}
